---
published: false
details: 8
---
<div class="js-scrollify">
  <section class="p-habit js-section" id="habit" data-prev="about" data-index="1">
    <div class="p-habit__cover--1"></div>
    <div class="p-habit__cover--2"></div>
    <div class="p-habit__cover--3"></div>
    <div class="p-habit__cover--4"></div>
    <div class="p-habit__cover--5"></div>
    <div class="p-habit__cover--6"></div>
    <div class="p-habit__cover--7"></div>
    <div class="p-habit__cover--8"></div>

    {{!-- PC --}}
    <div class="p-habit__container p-container--large js-waypoint">
      <h2 class="p-habit__heading">
        {{> _habit_heading_svg }}
        {{!-- <div class="p-habit__copy">今日からできる！</div>
        <div class="p-habit__new">あなたのカラダを正しくつくる新栄養習慣8</div> --}}
      </h2>
  
      <ol class="p-habit__list">
        <li><a href="#" class="js-habit" data-index="1"><img src="{{ assets }}/img/habit/1.png" alt="大好きな人と、とにかく楽しく！"></a></li>
        <li><a href="#" class="js-habit" data-index="2"><img src="{{ assets }}/img/habit/2.png" alt="よりよい眠りは朝ごはんから。"></a></li>
        <li><a href="#" class="js-habit" data-index="3"><img src="{{ assets }}/img/habit/3.png" alt="スポーツ後に水分を摂る。"></a></li>
        <li><a href="#" class="js-habit" data-index="4"><img src="{{ assets }}/img/habit/4.png" alt="偏った生活に+1でバランスを。"></a></li>
        <li><a href="#" class="js-habit" data-index="5"><img src="{{ assets }}/img/habit/5.png" alt="季節に応じた、伝統的な食。"></a></li>
        <li><a href="#" class="js-habit" data-index="6"><img src="{{ assets }}/img/habit/6.png" alt="効率よく食べよう。"></a></li>
        <li><a href="#" class="js-habit" data-index="7"><img src="{{ assets }}/img/habit/7.png" alt="塩分と脂をカット。舌を意識する。"></a></li>
        <li><a href="#" class="js-habit" data-index="8"><img src="{{ assets }}/img/habit/8.png" alt="管理栄養士に聞いてみよう。"></a></li>
      </ol>  
    </div>
    {{!-- /PC --}}
    
    {{!-- SP --}}
    <div class="p-habit__spList js-waypoint">
      <div class="p-habit__item">
        <div class="p-habit__content">
          <img src="{{ assets }}/img/habit/detail/sp/1/heading.png" alt="" width="174">
          <div class="p-habit__button">
            <a href="#" class="p-habit__more js-habit" data-index="1"><span>More</span></a>
          </div>
        </div>
        <div class="p-habit__image--1"></div>
      </div>
  
      <div class="p-habit__item">
        <div class="p-habit__content">
          <img src="{{ assets }}/img/habit/detail/sp/2/heading.png" alt="" width="190">
          <div class="p-habit__button">
            <a href="#" class="p-habit__more js-habit" data-index="2"><span>More</span></a>
          </div>
        </div>
        <div class="p-habit__image--2"></div>
      </div>
  
      <div class="p-habit__item">
        <div class="p-habit__content">
          <img src="{{ assets }}/img/habit/detail/sp/3/heading.png" alt="" width="174">
          <div class="p-habit__button">
            <a href="#" class="p-habit__more js-habit" data-index="3"><span>More</span></a>
          </div>
        </div>
        <div class="p-habit__image--3"></div>
      </div>
  
      <div class="p-habit__item">
        <div class="p-habit__content">
          <img src="{{ assets }}/img/habit/detail/sp/4/heading.png" alt="" width="118">
          <div class="p-habit__button">
            <a href="#" class="p-habit__more js-habit" data-index="4"><span>More</span></a>
          </div>
        </div>
        <div class="p-habit__image--4"></div>
      </div>
  
      <div class="p-habit__item">
        <div class="p-habit__content">
          <img src="{{ assets }}/img/habit/detail/sp/5/heading.png" alt="" width="132">
          <div class="p-habit__button">
            <a href="#" class="p-habit__more js-habit" data-index="5"><span>More</span></a>
          </div>
        </div>
        <div class="p-habit__image--5"></div>
      </div>
  
      <div class="p-habit__item">
        <div class="p-habit__content">
          <img src="{{ assets }}/img/habit/detail/sp/6/heading.png" alt="" width="157">
          <div class="p-habit__button">
            <a href="#" class="p-habit__more js-habit" data-index="6"><span>More</span></a>
          </div>
        </div>
        <div class="p-habit__image--6"></div>
      </div>
  
      <div class="p-habit__item">
        <div class="p-habit__content">
          <img src="{{ assets }}/img/habit/detail/sp/7/heading.png" alt="" width="168">
          <div class="p-habit__button">
            <a href="#" class="p-habit__more js-habit" data-index="7"><span>More</span></a>
          </div>
        </div>
        <div class="p-habit__image--7"></div>
      </div>
  
      <div class="p-habit__item">
        <div class="p-habit__content">
          <img src="{{ assets }}/img/habit/detail/sp/8/heading.png" alt="" width="284">
          <div class="p-habit__button">
            <a href="#" class="p-habit__more js-habit" data-index="8"><span>More</span></a>
          </div>
        </div>
        <div class="p-habit__image--8"></div>
      </div>
    </div>
    {{!-- /SP --}}
    
    {{!-- 新習慣1 --}}
    <section class="p-detail--1 js-detail">
      <div class="p-detail__inner">
        <div class="p-detail__container p-container--large">
          <div class="p-detail__index">新習慣1</div>
          <h3 class="p-detail__heading">
            とにかく楽しく、リラックスして食べる習慣
            <img src="{{ assets }}/img/habit/detail/1/title.png" alt="" class="u-fluid">
          </h3>
          
          <div class="p-detail__content">
            <p>
              家族や気の合う仲間と一緒に、または好きな音楽を聴きながら……。リラックスしながら普段の食事を楽しむだけで、食べたものの消化と吸収が良くなるって知っていましたか？　リラックスするとカラダを癒す効果のある副交感神経が活性化し、胃腸の働きが活発になります。また食事をするとその後の消化吸収には7、8時間程度かかるため、基本的にできるだけリラックスした状態でいることが、大切な栄養習慣のひとつとなります。たまには、リラックスを求めて、一人で好きな音楽を聴きながらゆっくりと味わって食べるご飯もいいかも。ただし、これは、大人になってから！　子どもの一人食べについては要注意。悪い影響を及ぼすという研究結果<span>（注1）</span>があり、おすすめしません。<br>
<span>注1：独立行政法人日本スポーツ振興センター「平成22年度児童生徒の食事状況等調査報告書【食生活実態調査編】」より</span></p>
          </div>
          
          <a href="#" class="p-detail__back--sp js-detail-close"><span>Back to List</span></a>
        </div>
    
        <a href="#" class="p-detail__back js-detail-close">Back to List</a>
      </div>
    </section>
    {{!-- /新習慣1 --}}

    {{!-- 新習慣2 --}}
    <section class="p-detail--2 js-detail">
      <div class="p-detail__inner">
        <div class="p-detail__container p-container--large">
          <div class="p-detail__index">新習慣2</div>
          <h3 class="p-detail__heading">
            「よい眠り」は朝ごはんから生まれる習慣
            <img src="{{ assets }}/img/habit/detail/2/title.png" alt="" class="u-fluid">
          </h3>
          
          <div class="p-detail__content">
            <p>每日ぐっすり眠れていますか？　充実した睡眠は、当たり前には手に入りません。睡眠の質には、毎日の朝ごはんが大きく影響を及ぼしていることがわかっているのです<span>（注2）</span>。いったいどういうことでしょうか？　じつは睡眠には、メラトニンというホルモンの分泌が重要です。しかし朝ごはんで、トリプトファンという必須アミノ酸を摂取していないと、メラトニンをしっかり分泌することができなくなってしまうのです。もし朝ごはんが苦手、どうしても食べられないという人は、ヨーグルトを食べたり、牛乳を飲んだりするだけでもかまいません。豆乳、魚肉ソーセージ、ゆで卵でも大丈夫です。たんぱく質は体内に大量には貯蓄できないので、朝、昼、夕の3回の食事で摂っていく必要があるのです。「新・栄養習慣」では、朝ごはんの<a href="https://www.nutas.jp/category/id1678.html" target="_blank">オリジナルレシピ</a>を考案しています。次のコーナーでチェック！<br>
<span>注2：林光緖、宮崎総一郎、松浦倫子「快適な眠りのための睡眠習慣セルフチェックノート」全日本病院出版会</span></p>
          </div>
          
          <a href="#" class="p-detail__back--sp js-detail-close"><span>Back to List</span></a>
        </div>
    
        <a href="#" class="p-detail__back js-detail-close">Back to List</a>
      </div>
    </section>
    {{!-- /新習慣2 --}}

    {{!-- 新習慣3 --}}
    <section class="p-detail--3 js-detail">
      <div class="p-detail__inner">
        <div class="p-detail__container p-container--large">
          <div class="p-detail__index">新習慣3</div>
          <h3 class="p-detail__heading">
            偏った食生活でも＋1でバランス習慣
            <img src="{{ assets }}/img/habit/detail/3/title.png" alt="" class="u-fluid">
          </h3>
          
          <div class="p-detail__content">
            <p>外食やコンビニ中心の食生活、低炭水化物ダイエット中など、「食生活が偏ってる」と自覚することはありませんか？　でもそんな自分をダメだと思う必要はありません。<br>
大事なのは、自分の「栄養習慣」を自覚して、一歩引いた視点からマネジメントすること。たとえば暑い日にコンビニで冷やし蕎麦ばかり買ってしまう人は、惣菜を一品追加するだけで、ビタミンも摂れるメニューに。冷やし中華にすれば、きゅうりやトマト、鶏肉、卵まで入っていてバッチリです。<br>
毎朝パンしか食べない人でも、ヨーグルトや野菜ジュースをつけるだけで栄養バランスは大きく変わります。普段の食習慣を変えず、それをベースに、理想的な栄養バランスをとるためのプラスワン。まずはここから栄養習慣はじめてみませんか？</p>

          </div>
          
          <a href="#" class="p-detail__back--sp js-detail-close"><span>Back to List</span></a>
        </div>
    
        <a href="#" class="p-detail__back js-detail-close">Back to List</a>
      </div>
    </section>
    {{!-- /新習慣3 --}}

    {{!-- 新習慣4 --}}
    <section class="p-detail--4 js-detail">
      <div class="p-detail__inner">
        <div class="p-detail__container p-container--large">
          <div class="p-detail__index">新習慣4</div>
          <h3 class="p-detail__heading">
            効率よく食べるサステナブル習慣
            <img src="{{ assets }}/img/habit/detail/4/title.png" alt="" class="u-fluid">
          </h3>
          
          <div class="p-detail__content">
            <p>バランスの良い食事とは、栄養バランスが整っていて、食べる人の状況に合ったエネルギーや栄養素が含まれている食事のことです。いくら整った食事内容でも、適切な量を摂っていなければ、バランスよく食べているとは言いません。バランスが崩れた食事は、生活習慣病の原因にもなってしまいます。<br>
日本人一人ひとりが1日100gの食材を減らしただけで、1日で約12,600tの食料が節約できます（総務省統計局「人口推計」2017年1月確定値より算出）。無駄のない食生活でメタボリック症候群がなくなれば、医療費もかからず一石二鳥。効率の良い食事はカラダだけでなく、地球環境にもサステナブルに働く習慣だといえるのです。</p>

          </div>
          
          <a href="#" class="p-detail__back--sp js-detail-close"><span>Back to List</span></a>
        </div>
    
        <a href="#" class="p-detail__back js-detail-close">Back to List</a>
      </div>
    </section>
    {{!-- /新習慣4 --}}

    {{!-- 新習慣5 --}}
    <section class="p-detail--5 js-detail">
      <div class="p-detail__inner">
        <div class="p-detail__container p-container--large">
          <div class="p-detail__index">新習慣5</div>
          <h3 class="p-detail__heading">
            体重減の理由は水分！　運動後に水分をとる習慣
            <img src="{{ assets }}/img/habit/detail/5/title.png" alt="" class="u-fluid">
          </h3>
          
          <div class="p-detail__content">
            <p>運動などで汗をかいた後に乗る体重計。ダイエット中の人にとって楽しみな瞬間ですが、ここで体重が減ったからと喜んではいけません。なぜなら減った体重のほとんどは汗などの水分で、脂肪はごく一部にすぎないからです。しかも、そのときのカラダは脱水症状を起こしかけており、軽い熱中症につながる危険すらあります。<br>
つまり運動後に体重が1kg減っていたとすれば、すぐに1リットルのスポーツドリンクなどの水分を飲んだほうがいいのです。もし尿が濃くて少量の場合、体内に余った水分がない状態。薄い尿が2～3時間ごとに、十分に出るくらい水分を飲むのがベストな状態です。<br>
「新・栄養習慣」では、運動後の水分補給の<a href="https://www.nutas.jp/category/id1679.html" target="_blank">オリジナルレシピ</a>を考案しています。次のコーナーでチェック！</p>
          </div>
          
          <a href="#" class="p-detail__back--sp js-detail-close"><span>Back to List</span></a>
        </div>
    
        <a href="#" class="p-detail__back js-detail-close">Back to List</a>
      </div>
    </section>
    {{!-- /新習慣5 --}}

    {{!-- 新習慣6 --}}
    <section class="p-detail--6 js-detail">
      <div class="p-detail__inner">
        <div class="p-detail__container p-container--large">
          <div class="p-detail__index">新習慣6</div>
          <h3 class="p-detail__heading">
            季節に応じた、伝統的な「食」習慣
            <img src="{{ assets }}/img/habit/detail/6/title.png" alt="" class="u-fluid">
          </h3>
          
          <div class="p-detail__content">
            <p>マイナス気温の豪雪から、桜の舞う春、40度を超える夏日を経て、紅葉の季節まで。1年を通して豊かな自然と暮らしてきた日本人の文化には、暦に応じた伝統的な食習慣、行事食が数え切れないほど残されています。<br>
たとえば、鎌倉時代の文献に記述が残されており、いまでも宮崎県、埼玉県、山形県などで食べられる伝統食「冷や汁」。それぞれの地方によってレシピや季節も異なるそうですが、食欲の落ちる暑い夏の夏バテ対策として食べられることもあるようです。<br>
その時期の季節や体調に応じた知恵や工夫が凝らされている伝統食。そんな先祖代々の知恵をアレンジして、いまの食習慣に取り入れてみるのもいかがでしょうか？　同じ日本に暮らす私たちの体質にぴったり合うかもしれません。</p>
          </div>
          
          <a href="#" class="p-detail__back--sp js-detail-close"><span>Back to List</span></a>
        </div>
    
        <a href="#" class="p-detail__back js-detail-close">Back to List</a>
      </div>
    </section>
    {{!-- /新習慣6 --}}

    {{!-- 新習慣7 --}}
    <section class="p-detail--7 js-detail">
      <div class="p-detail__inner">
        <div class="p-detail__container p-container--large">
          <div class="p-detail__index">新習慣7</div>
          <h3 class="p-detail__heading">
            塩分とアブラをカット。舌を意識する習慣
            <img src="{{ assets }}/img/habit/detail/7/title.png" alt="" class="u-fluid">
          </h3>
          
          <div class="p-detail__content">
            <p>食べすぎはカラダに悪いかもと思いながら、つまんでしまうスナック菓子。たっぷりかけないと食べた気がしない醤油やソース。そんな食品に人を惹きつける魅力を感じたことはないでしょうか？　主に「舌」で感じる塩味の好みは人によって違います。また、好みは後天的なもので、いったん強い塩味に慣れてしまうと、薄味では舌が満足しなくなります。小さいころに濃い味に親しんだら、濃い味を好んでしまうのです<span>（注3）</span>。舌は塩味が少なくても「うま味」や「コク」「酸味」があれば、満足するといわれています<span>（注4）</span>。だしを使うのはもちろん、最近は牛乳を入れてコクを出すレシピも注目されています。塩分に頼らず、素材の味を楽しむ「食」のあり方を見つけてみてはいかがでしょうか？　
「新・栄養習慣」では、塩分カットのための<a href="https://www.nutas.jp/category/id1680.html" target="_blank">オリジナルレシピ</a>を考案しています。次のコーナーでチェック！<br><span>注3：橋本壽夫「塩味料：食塩の機能と役割および保健上の問題」香料 第185号（1996）<br>注4：厚生労働省「塩分を控えるための12ヶ条」</span></p>
          </div>
          
          <a href="#" class="p-detail__back--sp js-detail-close"><span>Back to List</span></a>
        </div>
    
        <a href="#" class="p-detail__back js-detail-close">Back to List</a>
      </div>
    </section>
    {{!-- /新習慣7 --}}

    {{!-- 新習慣8 --}}
    <section class="p-detail--8 js-detail">
      <div class="p-detail__inner">
        <div class="p-detail__container p-container--large">
          <div class="p-detail__index">新習慣8</div>
          <h3 class="p-detail__heading">
            困ったら、管理栄養士・栄養士に聞いてみよう習慣
            <img src="{{ assets }}/img/habit/detail/8/title.png" alt="" class="u-fluid">
          </h3>
          
          <div class="p-detail__content">
            <p>管理栄養士は一般人からスポーツ選手、病院患者や高齢者まで、一人ひとりに合わせて栄養管理を行う国家資格です。いっぽう栄養士は都道府県知事の免許を受けた資格で、主に健康な人を対象にして栄養指導や給食の献立づくりなどを行います。<br>
栄養士というと意外に知られていないのが、各地域の保健所や栄養ケア・ステーションでの活躍。そこでは管理栄養士・栄養士が、個人的な栄養相談に無料で乗ってくれるところも多くあります。<br>
栄養バランスを整えるには、まず自分の「栄養習慣」に気づくことが大切。そのためにも地域の管理栄養士への相談からはじめてみてはいかがでしょうか？　自分のライフスタイルに合わせながらバランスを整える、効率の良い「栄養習慣」が見つかるかもしれませんよ。</p>
          </div>
          
          <a href="#" class="p-detail__back--sp js-detail-close"><span>Back to List</span></a>
        </div>
    
        <a href="#" class="p-detail__back js-detail-close">Back to List</a>
      </div>
    </section>
    {{!-- /新習慣8 --}}
  </section>
</div>